DB_URL=jdbc:mysql://47.111.172.151:3306/hqc_plt?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=arvello_app
DB_PASSWORD=请设置高强度密码
WECHAT_APP_ID=wx37520a19c8dba100
WECHAT_APP_SECRET=微信小程序AppSecret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=请设置独立的高强度后台密码
ADMIN_SESSION_TTL=12h
TEST_DB_URL=jdbc:mysql://127.0.0.1:3306/hqc_plt_test?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=请填写测试数据库密码
SESSION_TTL=30d
SERVER_PORT=8080
