DB_URL=jdbc:mysql://47.111.172.151:3306/hqc_plt?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=arvello_app
DB_PASSWORD=请设置高强度密码
WECHAT_APP_ID=wx37520a19c8dba100
WECHAT_APP_SECRET=微信小程序AppSecret
SESSION_TTL=30d
SERVER_PORT=8080
