<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinglian.fitness.mapper.DeviceMapper">
    <resultMap id="deviceResultMap" type="com.qinglian.fitness.device.DeviceDtos$DeviceView">
        <constructor>
            <idArg column="id" javaType="_long"/>
            <arg column="device_model" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="boundDeviceResultMap" type="com.qinglian.fitness.device.DeviceDtos$BoundDevice">
        <constructor>
            <idArg column="id" javaType="_long"/>
            <arg column="device_model" javaType="java.lang.String"/>
            <arg column="serial_number" javaType="java.lang.String"/>
            <arg column="bound_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <sql id="deviceColumns">id, device_model</sql>

    <select id="findCurrent" resultMap="boundDeviceResultMap">
        select d.id, d.device_model, d.serial_number, uds.selected_at as bound_at
        from user_device_selections uds join devices d on d.id = uds.device_id
        where uds.user_id = #{userId}
    </select>

    <select id="findBySerialNumber" resultMap="deviceResultMap">
        select <include refid="deviceColumns"/>
        from devices
        where upper(serial_number) = upper(#{serialNumber})
    </select>

    <select id="findByQrToken" resultMap="deviceResultMap">
        select <include refid="deviceColumns"/>
        from devices
        where qr_token = #{qrToken}
    </select>

    <select id="findBindingUserId" resultType="java.lang.Long">
        select user_id from user_device_selections where device_id = #{deviceId}
    </select>

    <update id="updateSelection">
        update user_device_selections set device_id = #{deviceId}, selected_at = current_timestamp where user_id = #{userId}
    </update>

    <insert id="createSelection">
        insert into user_device_selections(user_id, device_id) values (#{userId}, #{deviceId})
    </insert>

    <delete id="deleteSelection">
        delete from user_device_selections where user_id = #{userId}
    </delete>
</mapper>
