DB_URL=jdbc:mysql://47.111.172.151:3306/hqc_plt?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=请填写数据库密码
WECHAT_APP_ID=请填写微信小程序AppID
WECHAT_APP_SECRET=请填写微信小程序AppSecret
SESSION_TTL=30d
ADMIN_USERNAME=admin
ADMIN_PASSWORD=请设置独立的高强度后台密码
ADMIN_SESSION_TTL=12h
MEDIA_HOST_PATH=./data/media
MEDIA_MAX_FILE_SIZE=500MB
MEDIA_MAX_REQUEST_SIZE=500MB
